/* GLOBAL */
html, body{
    font-family: 'Work Sans', sans-serif;
}
.heading{
    margin-bottom: 3rem;
    text-align: center;
}

.heading h2{
    color: #ff4f81;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: .5px;
}
.heading p{
    text-transform: capitalize;
    font-size:17px ;
    color: black;
    letter-spacing: 4px;

}
.heading p::after{
    content: '';
    width: 70px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 20px auto;
}
.section{
    padding: 5rem 0;
}
.heading--white p{
    color: white;
}
/* HEADER */
.header__top{
    background-color: #ff4f81;
    font-size:14px ;
    
}
.header__top a{
    text-decoration: none;
    transition: all .5s;
}
.header__left a{
    margin-left:1.5rem;
}
.header__left a:hover{
    color: black !important;
}
.header__right a{
    color: white;
    width: 28px;
    height: 28px;
    background-color: black;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    margin-left: 0.25rem;
}
.header__right a:hover{
    background-color: #ff4f81;
    border-color: white;
}

.navbarInstruction a{
    color: black;
}
.navbarInstruction .navbar-brand p{
    font-weight: bold;
}
.navbarInstruction .navbar-brand p:first-child i{
    transform: skewX(-10deg);
}
.navbarInstruction .navbar-brand p:first-child{
    font-size: 2.25rem;
}
.navbarInstruction .navbar-brand p:last-child{
    font-size: 0.7rem;
    color: #ff4f81;
    letter-spacing: 3px;
}
#navbarInstruction .nav-item{
    margin: 0 15px;
    
}
#navbarInstruction .nav-item::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #ff4f81;
    display: block;
    transition: all .5s;
}

#navbarInstruction .nav-item:hover::after {
    width: 100%;
}
#navbarInstruction .nav-link{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all .5s;
}

#navbarInstruction .nav-item:hover .nav-link{
    color: #ff4f81;
}
#navbarInstruction .nav-item.active .nav-link{
    color: #ff4f81;
}
#navbarInstruction .nav-item.active::after{
    width: 100%;
}

#navbarInstruction .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
}
#navbarInstruction .dropdown-item{
    color: white;
    transition: all .5s;
}

#navbarInstruction .dropdown-item:focus, #navbarInstruction .dropdown-item:hover{
    background-color: transparent;
    color: #ff4f81;

}

.navbarInstruction .navbar-toggler {
    color: #ff4f81;
    background-color: black;
    border-radius: 0px;
}
.navbarInstruction .navbar-toggler:focus{
    outline: none;
}

/* CAROUSEL */
#carouselInstructionWeb .carousel-item .carousel-caption{
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    

}

#carouselInstructionWeb .carousel-control-prev i,#carouselInstructionWeb .carousel-control-next i{
    font-size: 3.5rem;

}

#carouselInstructionWeb .carousel-caption h1{
    font-size: 60px;
}
#carouselInstructionWeb .carousel-caption p{
    letter-spacing: 4px;
    line-height: 1.8em;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 25px;
    font-weight: 300;
}

#carouselInstructionWeb .carousel-caption button{
    padding: 12px 20px;
    color: white;
    border: 1.5px solid white;
    letter-spacing: 2px;
    border-radius: 0;
    font-size: 14px;
    transition:all .5s ;
}
#carouselInstructionWeb .carousel-caption button:hover{
    background-color: #ff4f81;
    border-color: #ff4f81;
}
#carouselInstructionWeb .carousel-control-prev, .carousel-control-next{
    z-index: 11;
}

/* WELCOME */
.welcome__content>p{
    padding: 1rem 0 5rem ;
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.8em;
    color: #999;
    text-align: center;
    letter-spacing: 1px;
}
.welcome__col{
    padding:2rem;
}
.welcome__item h3{
    text-transform: capitalize;
    color: #ff4f81;
    margin: 1rem 0;
    font-size: 1.8rem;
    font-weight: bold;

}
.welcome__item h4{
    text-transform: uppercase;
    color: black;
    font-size: 1rem;
    margin: 1rem 0 0.2rem;
    font-weight: bold;
}
.welcome__item i{
    font-size: 2rem;
    transition: all .5s;
}
.welcome__col:hover .welcome__item i{
    color: #ff4f81;
}
.welcome__item  p{
    color: #999;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 1px;
    margin: 10px 0 0;
}
/* OUR STATS */
.ourStats{
    background-image: url(../img/h3.png);
    background-size: cover;
    background-attachment: fixed;
}
.ourStats__item{
    text-align: center;
    color:white;
}
.ourStats__item i{
    font-size: 2.5rem;
}
.ourStats__item h3{
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 30px 0 20px;
    color: #ff4f81;
}
.ourStats__item p{
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 2px;
}
/* OFFER */
.offer__item{
    box-shadow: 0 1px 8px 0 rgba(158, 158, 158, 0.75);
    background-color: white;
    padding: 25px 40px;
    text-align: center;
    transition: all .5s;
    height: 270px;
}
.offer__col{
    padding: 15px;
}
.offer__item i{
    color: #ff4f81;
    font-size: 40px;
}
.offer__item h3{
    font-size: 20px;
    color: black;
    margin: 25px 0 20px;

}
.offer__item p{
    font-size: 14px;
    letter-spacing: .5px;
    color:#6b6b6b ;
}
.offer__item:hover {
    background-color: #12ccc3;
}
/* FEEDBACK */
.feedback{
    /* background-image: url(../img/h1.png); */
    background: url(../img/banner2.jpg) center;
    background-size: cover;
    background-attachment: fixed;
}
.feedback__content{
    box-shadow: 0 1px 7px #8e8e8e;
    background-color: rgba(0, 0, 0, 0.47);
    
    padding: 1rem;
}
.feedback__top{
    padding: 1rem 1.5rem;
    background: rgba(0, 0, 0, 0.47);
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 7px 0 rgba(158, 158, 158, 0.75);
}
.feedback__top::after{
    content: '';
    border-top: 10px solid rgba(0, 0, 0, 0.47) ;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: 100%;
    left: 25%;
}
.feedback__content .item {
    color: white;
    padding: 1rem;
}
.feedback__content .item .feedback__bottom img{
    width: 28%;
    display: inline-block;
}
.feedback__bottom {
    display: flex;
    justify-content:center ;
    width: 55%;
    margin: 2rem auto 0;
}
.feedback__bottom img{
    height: 60px;
    background-size: cover;
    object-fit: cover;
}
.feedback__name{
    margin-left: 5px;
}
.feedback__bottom .feedback__name h3{
    margin: 0;
    color: #ff4f81;
    font-size: 1.2rem;
} 
.feedback__bottom .feedback__name p{
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
}
.feedback__content .owl-theme .owl-dots .owl-dot span{
    background-color: #ff4f81;
    opacity: .5;
}
.feedback__content .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    opacity: 1;
}
.feedback__content .owl-theme .owl-dots .owl-dot{
    outline: none;
}
/* NEWS */
.news__content img{
    border: 2px solid #dedede;
}
.news__content h3{
    font-size: 1.2rem;
    font-weight: bold;

}
.news__content a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    transition: all .5s;
}
.news__content a:hover{
    color: #ff4f81;
}
.news__content p:first-of-type{
    font-size: 1rem;
    color: #ff4f81;
    font-weight: bold;
    margin: 1rem 0;
    letter-spacing: 1px;
}
.news__content p:last-of-type{
    margin: 1rem 0 0;
    color: #999;
    line-height: 1.6rem;
    font-size: .9rem;

} 
.news__content .row:last-child{
    margin-top: 5rem;
}
/* NEWS MODAL */
#InstructionModal .modal-content .modal-header h5{
    color: #ff4f81;
    font-weight: bold;
    font-size: 29px;
}
#InstructionModal .modal-content .modal-body p{
    color: #777;
    font-size: 14px;
    line-height: 1.8em;
    padding: 20px 0;
}
#InstructionModal .modal-dialog{
    max-width: 600px;
}
/* FOOTER */
footer{
    background-color:#141415 ;
}
.footer__top h3{
    font-size: 24px;
    color: #ff4f81;
    margin-bottom: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer__top p{
    color: #8b8b96;
    font-size: 15px;
    line-height: 2em;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}
.footer__top, .footer__link i{
    color: #ff4f81;
    margin-right: 1rem;
}
.footer__link a,.footer__contact a{
    text-decoration: none;
    color: #8b8b96;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 1px;
    transition: all .5s;
    
}
.footer__link a:hover,.footer__contact a:hover{
    color: white;
}
.footer__contact i{
    color: #fff;
    width: 32px;
    height: 32px;
    border: 1px solid #4b4b50;
    text-align: center;
    line-height: 30px;
    margin-right: 1rem;
}
.footer__contact,.footer__link{
    margin-top: 0.3rem;
    display: flex;
}
.footer__form{
    margin-top: 3rem;
}
.footer__form label{
    color: #ff4f81;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer__form .form-group input{
    padding: 14px;
    border-radius: 0;
    height: auto;
    border:none ;
    color: #888;
    letter-spacing: 1px;
    box-shadow: 0 0 0 0 white;
}

.footer__form .form-group button{
    background-color: #ff4f81;
    padding: 12px 35px;
    letter-spacing: 1px;
    border-radius: 0;
    transition: all .5s;
    color: white;
    outline: none;
}
.footer__form .form-group button:hover{
    background-color: #ec1955;
}
.footer__bottom{
    background-color: #0f0f10;
    text-align: center;
    padding: 1rem 0;
    letter-spacing: 1px;
    color: white;
    margin: 0;
}
.footer__bottom p{
    margin: 0;
}
.footer__bottom a{
    text-decoration: none;
    font-weight: bold;
    font-size:1.1rem ;
    color: #ff4f81;
    transition: all .5s;
}
.footer__bottom a:hover{
    color: #12ccc3;
}


/* ********************RESPONSIVE****************** */
@media screen and (max-width:1199.98px){
    /* CAROUSEL */
    #carouselInstructionWeb .carousel-caption{
        top:50%;
    }
    #carouselInstructionWeb .carousel-caption h1{
        font-size: 4vw;
    }
    #carouselInstructionWeb .carousel-caption p{
        font-size: 1.4vw;
        margin-bottom: 0.5em;
    }
    #carouselInstructionWeb .carousel-caption button{
        font-size: 1.4vw;
        padding: 0.8em 1em;
    }
}

@media screen and (max-width:991.98px){
    /* HEADER */
    .navbarInstruction .navbar-brand p:first-child{
        /* 3% so với width của trình duyệt */
        font-size: 3vw;
    }
    .navbarInstruction .navbar-brand p:last-child{
        /* 1.5% so với width của trình duyệt */
        font-size: 1.5vw;
    }
}

@media screen and (max-width:767.98px){
    /* HEADER */
    #navbarInstruction .navbar-nav{
        background-color:#eee ;
        text-align: center;
    }
    #navbarInstruction .dropdown-menu{
        background-color: #e0e1e2;
        border-color:#e0e1e2;
        text-align: center;
    }
    #navbarInstruction .dropdown-item{
        color: black;
    }
}

@media screen and (max-width:575.98px){

    /* GLOBAL */
    .heading p{
        padding: 0 15px;
    }
    /* HEADER */
    .header__left a{
        display: block;
        margin-left: 0; 
    }
    .header__right a{
        width: 30%;
        margin-bottom: 4px;
    }

    /* FOOTER */
    .footer__top .footer__form input,.footer__top .footer__form button{
        padding: 10px;
        border: 0;
        font-size: 14px;
    }
    .footer__bottom, .footer__bottom a {
        font-size: 13px;
    }

}

@media screen and (max-width:415px){
    /* CAROUSEL */
    #carouselInstructionWeb{
        height: 250px;
    }
    #carouselInstructionWeb .carousel-inner,#carouselInstructionWeb .carousel-item,#carouselInstructionWeb .carousel-item img{
        height: 100%;
    }
    #carouselInstructionWeb .carousel-item img{
        object-fit: cover;
    }
}
@media screen and (max-width:376px){
    .feedback__bottom{
       width: 100%;
    }
}

@media screen and (max-width:320px){
    /* HEADER */
    .header__right{
        width: 35%;
        text-align: center;
    }
    .header__right a{
        margin-bottom: 5px;
    }
    .header__top .header__left a{
        font-size: 12px;
        margin-left: 0;
    }
}


@media screen and (min-width:768px) and (max-width:992px){
    /* HEADER */
    #navbarInstruction .nav-item{
        margin: 0;
        padding: 0 2px;
    }
    #navbarInstruction .nav-link{
        font-size: 12px;
        padding: 5px;
    }
}

@media screen and (min-width:575px) and (max-width:992px){
    .feedback__bottom{
        width: 85%;
    }
}
